*{
    font-family: Open Sans;
    color: white;
}

html,
body{
	padding: 0;
	margin: 0;
    background: #3D8EB9;
}

section{
    margin: auto;
    width: 60%;
}

input{
    border: 0.5px solid grey;
    box-shadow: rgba(0,0,0,0.34) 0px 1px 3px;
    padding: 20px 10px;
    font-family: Open Sans;
    font-size: 1.5em;
    width: 100%;
    color: black;
}

button{
    color: black;
}

span{
    margin-top: 2em;
}

button{
    margin-top: 20px;
    font-size: 2em;
}

#final{
    margin-top: 20px;
}